@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './page/index.scss';
@import './nav-bar/index.scss';

html, body {
  padding: 0;
  margin: 0;
}
td{
  padding-right: 250px;
}
table {
  border-spacing: 30px;
  border-collapse: collapse;
}
* {
  font-family: 'Open Sans', sans-serif;
}
